.DS_Store*
*.aux*
*.log*
*.lof*
*.lot*
*.out*
*.gz*
*.toc*
*.bbl*
*.blg*
*~*
*.nlo*
*make*
*.btmp*
*.fls*
*.glo*
*.idx*
*.ist*
*.ilg*
*.ind*
*cookie*
*#*
*.nls*
*.nlg*
thesis.bcf*
thesis.run.xml*
*.snm
